body{
    background-color: rgb(143, 18, 66);
}

button{
    color: rgb(143, 18, 66);
    border-radius: 5px;
    border: 1px solid rgb(143, 18, 66) ;
    background-color: rgb(191, 191, 191);
}

.class-border{
    border-radius: 10px;
}